<!doctype html>
<html lang="en" ng-app="baseAngular">
<head>
  <meta charset="utf-8">
  <title translate>{{ 'TITLE' }}</title>
  <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="app/css/app.css">
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="bower_components/angular-translate/angular-translate.min.js"></script>
  <script src="app/app.module.js"></script>
  <script src="app/components/home/main.controller.js"></script>
  <script src="app/components/home/main.routes.js"></script>
</head>
<body>
<div class="container" ng-controller='MainController as main'>
  <div class="header">
      <h3 translate>{{ 'TITLE' }}</h3>
  </div>
  <div class="navigation">
    <ul>
      <li><button ng-disabled="main.getCurrentLanguage()=='es'" ng-click="main.changeLanguage('es')" translate>{{ 'SPANISH' }}</button></li>
      <li><button ng-disabled="main.getCurrentLanguage()=='en'" ng-click="main.changeLanguage('en')" translate>{{ 'ENGLISH' }}</button></li>
    </ul>
  </div>
  <div id="main">
	     <div ng-view></div>
  </div>
  <div class="footer">
      TODO
  </div>
</div>

</body>
</html>
