<span ng-if="!users.currentUser.isLogged">
  <form name="userLoginForm" class"horizontalForm" ng-submit="users.doLogin()">
    <input name="username" ng-model="users.loginUsername" placeholder="{{'userLogin.username' | translate}}" required>
    <input name="password" type="password" ng-model="users.loginPassword" placeholder="{{'userLogin.password' | translate}}" required>
    <button type="submit" translate>{{"userLogin.login"}}</button>
  </form>
  <span class="error" ng-show="users.errorMessage">{{"userLogin.loginError" | translate}}</span>
</span>
<span ng-if="users.currentUser.isLogged">
  <i>{{"userLogin.welcome" | translate}}</i> {{users.currentUser.username}}
  <form name="userLogoutForm" class"horizontalForm" ng-submit="users.doLogout()">
    <button type="submit" translate>{{"userLogin.logout"}}</button>
  </form>
</span>
